# Agent dependencies
openai
python-dotenv
apprise
PyGithub
python-json-logger
tiktoken

# Dashboard dependencies
streamlit
pandas
plotly
requests

# WebApp dependencies
fastapi
uvicorn[standard]
httpx
